#top {
    .pure-container {
        position: relative;

        .pure-content {
            padding: 0 30px;
            max-width: 600px;
            margin: 0 auto 100px;
            overflow: hidden;
        }

        .btn-container {
            height: 50px;
            width: 100%;
            background-color: #fff;
            position: fixed;
            bottom: 0;
        }
    }
}
