$common-color: #f7f7f7;
$common-padding: 0 10px;
$primary-color: #209e85;

.jmodal-container {
    font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
    background-color: $common-color;
    border: 1px solid $primary-color;
    min-width: 250px;
    max-width: 250px;
    display: none;
    position: absolute;
    border-radius: 2px;
    top: 0;
    left: 0;

    .jmodal-header {
        height: 40px;
        line-height: 40px;
        background-color: $primary-color;
        padding: $common-padding;
        color: $common-color;
    }

    .jmodal-content {
        padding: $common-padding;

        label {
            font-weight: bold;
        }

        .jmodal-word {
            font-size: 1.5em;
        }

        .jmodal-def {
            p {
                padding: $common-padding;
            }
        }

        .jmodal-pron {
            .jmodal-pron-audio {
                padding: $common-padding;
                line-height: 30px;
                height: 30px;
                font-size: 16px;

                img {
                    vertical-align: text-bottom;
                    width: 16px;
                    height: 16px;
                    cursor: pointer;
                }
            }
        }
    }

    .jmodal-footer {
        height: 30px;
        line-height: 30px;
        text-align: right;
        font-size: 12px;
        color: #adadad;
        text-shadow: 1px 1px 0 $common-color+10;
        font-style: italic;
        padding: $common-padding;
    }
}
