$common-height: 50px;
$common-width: 50px;
$max-width: 600px;
$common-transition: all 0.5s;
$primary-color: #209e85;

.jpage-container {
    width: 100%;
    max-width: $max-width;
    height: $common-height;
    line-height: $common-height;
    display: flex;
    margin: 0 auto;

    .jpage-end,
    .jpage-home,
    .jpage-next,
    .jpage-prev {
        display: inline-block;
        flex: none;
        width: $common-width;
        height: $common-height;
        text-align: center;
        cursor: pointer;
        user-select: none;
        transition: $common-transition;

        &:hover {
            background-color: rgba(208, 208, 208, 0.9);
        }
    }

    .jpage-indexes-container {
        flex: 1;
        overflow-x: scroll;
        display: flex;
        flex-wrap: nowrap;

        .jpage-index {
            min-width: $common-width;
            width: $common-width;
            height: $common-height;
            text-align: center;
            cursor: pointer;
            user-select: none;
            transition: $common-transition;
            margin: 0 auto;

            &:hover {
                background-color: #eee;
            }

            &.jpage-active {
                background-color: rgba($primary-color, 0.8);
            }
        }
    }
}
